body 
{
  background-color: #660303;
  text-align: center;
}
h1 
{
  color: rgba(247, 244, 244, 0.384);
  border-style: solid;
  border-color:rgb(255, 251, 251);  
  border-width:2px;
  padding: 10px;
}
#cartoon_name
{
  text-decoration: underline;
  font-size:40px;
  color: rgb(48, 3, 48);
  background: rgb(53, 255, 255);
}
a
{
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-style: dashed;
  border-color: rgb(255, 255, 255);
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}

p{
  color: rgb(235, 112, 112);
  word-spacing: 10px;
  font-variant: small-caps;
  font-size: 20px;
  font-family: Arial;
}

.more_about_cartoon{
    color: rgb(255, 175, 175);
    font-size: 18px;
}
